{% extends 'firm/base.html' %}

{% block title %}
    首页
{% endblock %}

{% block body %}

    <section class="main-slider">

        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/image-1.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="/static/images/main-slider/image-1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>室内装饰设计师<br> 创意设计您的工作室或家居环境</h2></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="40"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">用二十五年的行业经验为您<br>提供最好的室内风格。</div></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="140"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">服务标准</a> &ensp; <a href="#" class="theme-btn btn-style-two">商城平台</a></div>


                    </li>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/image-2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="/static/images/main-slider/image-2.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>为您的办公生活增添优雅 舒适</h2></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="0"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text text-center">最专业的室内设计师<br>升级您的办公环境</div></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="center" data-hoffset="15"
                    data-y="center" data-voffset="100"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">服务标准</a> &ensp; <a href="#" class="theme-btn btn-style-two">商城平台</a></div>


                    </li>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/image-3.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="/static/images/main-slider/image-3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="500"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>专业 优异的团队<br> 打造温暖的港湾</h2></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="500"
                    data-y="center" data-voffset="40"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">领先的行业标准 技术 <br>打造一流，先进智能家庭环境。</div></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="left" data-hoffset="500"
                    data-y="center" data-voffset="140"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">服务标准</a> &ensp; <a href="#" class="theme-btn btn-style-two">商城平台</a></div>


                    </li>

                </ul>

            	<div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>

    <section class="welcome-section">
    	<div class="auto-container">
        	<div class="row clearfix">

            	<div class="col-md-6 col-sm-12 col-xs-12 welcome-column">
                	<!--inner-content-->
                	<div class="inner-content wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<h2>欢迎来到洛客室内装饰</h2>
                        <h3>我们有您需要的生活环境创新需求 <span>双一流公司的服务和领先的技术</span></h3>

                        <div class="text">
                            洛客，专注产品创新设计的众创室内设计公司，洛客聚合了优质设计师与海量用户共同众创，
                            以产品创新设计服务于企业和创客，更优质、更高效、更开放地创造最具想象力的产品。
                            洛客致力于提供最好的方案、打造最好的产品，品牌理念即：创造不可能。同时，也一直处于行业前端，
                            拥有长期专业强大的合作伙伴，和众多优异的设计师，市场管理人员等员工。
                        </div>
                        <figure class="signature">
                        	<img src="/static/images/icons/signature.png" alt="" />
                        </figure>

                        <!--author-title-->
                        <div class="author-title">
                        	<div class="author-info">理查德安东尼, <span>创始人兼首席执行官</span></div>
                            <div class="author-designation">Decorators.</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 service-column">

                	<div class="service-block-one">
                    	<div class="inner-box">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-avatar-1"></span>
                            </div>
                            <h3>员工 专业</h3>
                            <div class="category"><a href="#">公司职员</a></div>
                            <div class="text">
                                公司员工选拔严格，以技术优先品格其次的标准选拔。入职员工常有良好的企业文化熏陶，企业会定时专业的培训考核员工。
                            </div>
                        </div>
                    </div>

                    <div class="service-block-one">
                    	<div class="inner-box">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-correct"></span>
                            </div>
                            <h3>信誉度极高</h3>
                            <div class="category"><a href="#">公司声誉</a></div>
                            <div class="text">
                                公司自创建二十几年来，从未因诚信问题被投诉而导致客户取消合作。公司宗旨是诚信为本，
                                并一直传承至今，行业内的声誉也是极高。
                            </div>
                        </div>
                    </div>

                    <div class="service-block-one">
                    	<div class="inner-box">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-compass"></span>
                            </div>
                            <h3>技术先锋</h3>
                            <div class="category"><a href="#">设计师</a></div>
                            <div class="text">
                                公司拥有专注产品创新设计的众创平台，该平台聚合了优质设计师与海量用户共同众创，
                                以产品创新设计服务于企业和创客，更优质、更高效、更开放地创造最具想象力的产品。
                                在设计方面人才资源是庞大的，同时室内装修方面也有对应的专业团队，且行业经验十几年，相关方面都很成熟。
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="best-service-section">
    	<div class="auto-container">

            <div class="sec-title clearfix">
                <h2 class="pull-left">我们的服务</h2>
                <a class="service-link pull-right" href="#">更多 <span class="fa fa-caret-right"></span></a>
            </div>

        	<div class="row clearfix">
                {% for service in services %}

                    <div class="service-block-two col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-layer" style="background-image:url(/static/images/resource/service-block-two-bg.jpg)"></div>

                            <div class="icon-box">
                                <span class="{{ service.span }}"></span>
                            </div>

                            <h3>{{ service.title }}</h3>
                            <div class="text">{{ service.message }}</div>
                            <a href="#" class="read-more">查看</a>

                            <div class="bottom-icon">
                                <span class="flaticon-improvement"></span>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>

    <section class="gallery-section">
    	<div class="auto-container">

            <div class="sec-title-four">
                <h2>最近的项目</h2>
            </div>

            <div class="sortable-masonry">

                <div class="filters text-center">
                <div class="icon-box"><span class="fa fa-picture-o"></span></div>

                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="active filter" data-role="button" data-filter=".all">All </li>
                        <li class="filter" data-role="button" data-filter=".painting">绘画</li>
                        <li class="filter" data-role="button" data-filter=".flooring">地板</li>
                        <li class="filter" data-role="button" data-filter=".tile-marble">瓷砖和大理石</li>
                        <li class="filter" data-role="button" data-filter=".furniture">家具</li>
                        <li class="filter" data-role="button" data-filter=".lighting">灯光</li>
                    </ul>
                </div>

                <div class="items-container clearfix">

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all tile-marble">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/images/gallery/1.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="" class="proj-link"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                            	<h3><a href="">Living Room</a></h3>
                                <a href="#" class="cat-link">Painting</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all tile-marble lighting">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/images/gallery/2.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="" class="proj-link"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                            	<h3><a href="">Living Room</a></h3>
                                <a href="#" class="cat-link">Painting</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all flooring tile-marble furniture lighting">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/images/gallery/3.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="" class="proj-link"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                            	<h3><a href="">Living Room</a></h3>
                                <a href="#" class="cat-link">Painting</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all painting flooring furniture">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/images/gallery/4.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="" class="proj-link"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                            	<h3><a href="">Living Room</a></h3>
                                <a href="#" class="cat-link">Painting</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all painting tile-marble furniture lighting">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/images/gallery/5.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="" class="proj-link"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                            	<h3><a href="">Living Room</a></h3>
                                <a href="#" class="cat-link">Painting</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 default-portfolio-item masonry-item all painting flooring tile-marble">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/images/gallery/7.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="" class="proj-link"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                            	<h3><a href="">Living Room</a></h3>
                                <a href="#" class="cat-link">Painting</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 default-portfolio-item masonry-item all flooring furniture lighting">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/static/images/gallery/6.jpg" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="" class="proj-link"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                            	<h3><a href="">Living Room</a></h3>
                                <a href="#" class="cat-link">Painting</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="text-center padd-top-50"><a class="theme-btn btn-style-two" href="">更多</a></div>

        </div>


    </section>

    <section class="call-to-action" style="background-image:url(/static/images/background/image-1.jpg);">
    	<div class="auto-container">
        	<div class="row">
            	<div class="text">加入洛客</div>
                <h2>现在您的家/办公区都将更完美!</h2>

                <a class="theme-btn btn-style-one" href="{% url 'firm:about' %}">关于我们</a>
                <a class="theme-btn btn-style-two" href="">商城平台</a>

            </div>
        </div>
    </section>

    <section class="default-two-column">
    	<div class="auto-container">
        	<div class="row clearfix">

            	<div class="column spec-column col-md-6 col-sm-12" style="width: 100%">
                    <!--sec-title-three-->
                    <div class="sec-title-three">
                        <div class="sub-title">室内装饰</div>
                        <h2>特点</h2>
                    </div>
                    <div class="text">
                        合理地组织和塑造具有美感而又舒适、方便的室内环境的一种综合性艺术，融合了现代科学技术与文化艺术，
                        并与建筑设计、地理，装饰艺术、人体工程学、心理学、美学，科技材料学等有着密切的联系。
                    </div>
                    <!--specs-->
                    <div class="specs clearfix">
                        <div class="row clearfix">

                            {% for trait in traits %}

                                <div class="spec-block col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <!--spec-block-->
                                    <div class="inner-box">
                                        <!--icon-box-->
                                        <div class="icon-box">
                                            <span class="{{ trait.span }}"></span>
                                        </div>
                                        <h3>{{ trait.title }}</h3>
                                        <div class="text">{{ trait.message }}</div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                 </div>

            </div>
        </div>
    </section>

    <section class="testimonial-style-one" style="background-image:url(/static/images/background/image-2.jpg);">
    	<div class="auto-container">
        	<div class="row">

                <div class="carousel-outer">
                    <div class="icon fa fa-quote-left"></div>
                    <div class="single-item-carousel">

                        {% for stylist in stylists %}
                            <div class="slide-item">
                                <div class="inner-box">
                                    <div class="slide-text">{{ stylist.message }}</div>
                                    <!--auther-info-->
                                    <div class="auther-info">
                                        <div class="image"><img src="{{ stylist.image }}" alt="" /></div>
                                        <div class="auther-name">{{ stylist.name }}</div>
                                        <div class="designation">顾客</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="tabbed-shop-section">
    	<div class="auto-container">

            <div class="sec-title-four">
                <h2>相关商品</h2>
            </div>

            <!--Shop Tabs Box-->
            <div class="shop-tabs-box">
                <!--Tab Buttons-->
                <ul class="tab-buttons">
                    <li data-tab="#tab-one" class="tab-btn active-btn">家具</li>
                    <li data-tab="#tab-two" class="tab-btn">窗帘</li>
                    <li data-tab="#tab-three" class="tab-btn">地板</li>
                    <li data-tab="#tab-four" class="tab-btn">天花板吊灯</li>
                    <li data-tab="#tab-five" class="tab-btn">厨房用品</li>
                </ul>

                <!--Tabs Content-->
                <div class="tabs-content">
                    <!--Tab / Active Tab-->
                    <div class="shop-tab active-tab" id="tab-one">
                        <div class="tabbed-shop-carousel">

                             {% for shoplist in shoplists %}
                                <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="{{ shoplist.image }}" alt="" /></a>
                                    </figure>

                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">{{ shoplist.title }}</a></h3>

                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>

                                        <div class="price">{{ shoplist.new_price }} <span>{{ shoplist.price }}</span></div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="{{ shoplist.image }}" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                             {% endfor %}


                        </div>
                    </div>

                    <!--Tab-->
                    <div class="shop-tab" id="tab-two">
                        <div class="tabbed-shop-carousel">

                            {% for shoplist in shoplists %}
                                <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="{{ shoplist.image }}" alt="" /></a>
                                    </figure>

                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">{{ shoplist.title }}</a></h3>

                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>

                                        <div class="price">{{ shoplist.new_price }} <span>{{ shoplist.price }}</span></div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="{{ shoplist.image }}" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}


                        </div>
                    </div>

                    <!--Tab-->
                    <div class="shop-tab" id="tab-three">
                        <div class="tabbed-shop-carousel">

                            {% for shoplist in shoplists %}
                                <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="{{ shoplist.image }}" alt="" /></a>
                                    </figure>

                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">{{ shoplist.title }}</a></h3>

                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>

                                        <div class="price">{{ shoplist.new_price }} <span>{{ shoplist.price }}</span></div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="{{ shoplist.image }}" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>

                    <!--Tab-->
                    <div class="shop-tab" id="tab-four">
                        <div class="tabbed-shop-carousel">

                            {% for shoplist in shoplists %}
                                <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="{{ shoplist.image }}" alt="" /></a>
                                    </figure>

                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">{{ shoplist.title }}</a></h3>

                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>

                                        <div class="price">{{ shoplist.new_price }} <span>{{ shoplist.price }}</span></div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="{{ shoplist.image }}" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>

                    <!--Tab-->
                    <div class="shop-tab" id="tab-five">
                        <div class="tabbed-shop-carousel">

                            {% for shoplist in shoplists %}
                                <div class="default-shop-item">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href=""><img src="{{ shoplist.image }}" alt="" /></a>
                                    </figure>

                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="">{{ shoplist.title }}</a></h3>

                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>

                                        <div class="price">{{ shoplist.new_price }} <span>{{ shoplist.price }}</span></div>
                                        <div class="links-box">
                                            <a class="cart-btn" href="#">Add to Cart</a>
                                            <a class="zoom-btn lightbox-image" href="{{ shoplist.image }}" title="Image Caption Here"><span class="fa fa-search-plus" title="Quick View"></span></a>
                                            <a class="add-to-favorite" href="#" title="Add to Favourite"><span class="fa fa-heart"></span></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="sponsors-section">
    	<div class="auto-container">
        	<!--Sponsors SLider-->
            <ul class="sponsors-carousel">
                <li><div class="inner-box"><figure class="image-box"><img src="/static/images/clients/1.png" alt=""></figure><div class="overlay-box"><div class="overlay-inner"><div class="overlay-content"><span class="count">+5</span><span class="text">Years<br>Experince</span></div></div></div></div></li>
                <li><div class="inner-box"><figure class="image-box"><img src="/static/images/clients/2.png" alt=""></figure><div class="overlay-box"><div class="overlay-inner"><div class="overlay-content"><span class="count">+2</span><span class="text">Years<br>Experince</span></div></div></div></div></li>
                <li><div class="inner-box"><figure class="image-box"><img src="/static/images/clients/3.png" alt=""></figure><div class="overlay-box"><div class="overlay-inner"><div class="overlay-content"><span class="count">+6</span><span class="text">Years<br>Experince</span></div></div></div></div></li>
                <li><div class="inner-box"><figure class="image-box"><img src="/static/images/clients/4.png" alt=""></figure><div class="overlay-box"><div class="overlay-inner"><div class="overlay-content"><span class="count">+3</span><span class="text">Years<br>Experince</span></div></div></div></div></li>
                <li><div class="inner-box"><figure class="image-box"><img src="/static/images/clients/5.png" alt=""></figure><div class="overlay-box"><div class="overlay-inner"><div class="overlay-content"><span class="count">+1</span><span class="text">Years<br>Experince</span></div></div></div></div></li>
          </ul>
        </div>
    </section>

    <section class="news-section">
    	<div class="auto-container">

            <div class="sec-title-four">
                <h2>Recent News</h2>
            </div>


            <div class="news-carousel two-column-carousel">

                <!--News Style One-->
                <div class="news-style-one">
                	<div class="inner-box">
                    	<div class="row clearfix">
                        	<div class="image-column col-md-5 col-sm-6 col-xs-12">
                            	<figure class="image-box"><img src="/static/images/resource/blog-image-1.jpg" alt=""><a class="overlay-link" href="blog-single.html"><span class="icon flaticon-plus-1"></span></a></figure>
                            </div>
                            <div class="content-column col-md-7 col-sm-6 col-xs-12">
                            	<div class="content">
                                	<h3><a href="blog-single.html">Our First Design For Interior</a></h3>
                                    <ul class="post-meta clearfix">
                                    	<li><a href="#"><span class="icon fa fa-clock-o"></span> Oct 03, 2015</a></li>
                                        <li><a href="#"><span class="icon fa fa-tags"></span> Furniture</a></li>
                                    </ul>
                                    <div class="text">How all this mistakens idea off denouncings pleasure and praising pain was born and get will give you a complete account.</div>
                                    <div class="author-info">
                                    	<figure class="author-thumb"><img src="/static/images/resource/author-thumb-1.jpg" alt=""></figure>
                                        <h4>Mark Nicholes</h4>
                                        <div class="designation">Team Leader</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--News Style One-->
                <div class="news-style-one">
                	<div class="inner-box">
                    	<div class="row clearfix">
                        	<div class="image-column col-md-5 col-sm-6 col-xs-12">
                            	<figure class="image-box"><img src="/static/images/resource/blog-image-2.jpg" alt=""><a class="overlay-link" href="blog-single.html"><span class="icon flaticon-plus-1"></span></a></figure>
                            </div>
                            <div class="content-column col-md-7 col-sm-6 col-xs-12">
                            	<div class="content">
                                	<h3><a href="blog-single.html">Using High Quality Paints</a></h3>
                                    <ul class="post-meta clearfix">
                                    	<li><a href="#"><span class="icon fa fa-clock-o"></span> Aug 21, 2015</a></li>
                                        <li><a href="#"><span class="icon fa fa-tags"></span> Painting</a></li>
                                    </ul>
                                    <div class="text">Pleasure and praising pain was born and will give you a complete account of the systems, and expound the actual teaching.</div>
                                    <div class="author-info">
                                    	<figure class="author-thumb"><img src="/static/images/resource/author-thumb-2.jpg" alt=""></figure>
                                        <h4>William Harry</h4>
                                        <div class="designation">Designer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--News Style One-->
                <div class="news-style-one">
                	<div class="inner-box">
                    	<div class="row clearfix">
                        	<div class="image-column col-md-5 col-sm-6 col-xs-12">
                            	<figure class="image-box"><img src="/static/images/resource/blog-image-1.jpg" alt=""><a class="overlay-link" href="blog-single.html"><span class="icon flaticon-plus-1"></span></a></figure>
                            </div>
                            <div class="content-column col-md-7 col-sm-6 col-xs-12">
                            	<div class="content">
                                	<h3><a href="blog-single.html">Our First Design For Interior</a></h3>
                                    <ul class="post-meta clearfix">
                                    	<li><a href="#"><span class="icon fa fa-clock-o"></span> Oct 03, 2015</a></li>
                                        <li><a href="#"><span class="icon fa fa-tags"></span> Furniture</a></li>
                                    </ul>
                                    <div class="text">How all this mistakens idea off denouncings pleasure and praising pain was born and get will give you a complete account.</div>
                                    <div class="author-info">
                                    	<figure class="author-thumb"><img src="/static/images/resource/author-thumb-1.jpg" alt=""></figure>
                                        <h4>Mark Nicholes</h4>
                                        <div class="designation">Team Leader</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--News Style One-->
                <div class="news-style-one">
                	<div class="inner-box">
                    	<div class="row clearfix">
                        	<div class="image-column col-md-5 col-sm-6 col-xs-12">
                            	<figure class="image-box"><img src="/static/images/resource/blog-image-2.jpg" alt=""><a class="overlay-link" href="blog-single.html"><span class="icon flaticon-plus-1"></span></a></figure>
                            </div>
                            <div class="content-column col-md-7 col-sm-6 col-xs-12">
                            	<div class="content">
                                	<h3><a href="blog-single.html">Using High Quality Paints</a></h3>
                                    <ul class="post-meta clearfix">
                                    	<li><a href="#"><span class="icon fa fa-clock-o"></span> Aug 21, 2015</a></li>
                                        <li><a href="#"><span class="icon fa fa-tags"></span> Painting</a></li>
                                    </ul>
                                    <div class="text">Pleasure and praising pain was born and will give you a complete account of the systems, and expound the actual teaching.</div>
                                    <div class="author-info">
                                    	<figure class="author-thumb"><img src="/static/images/resource/author-thumb-2.jpg" alt=""></figure>
                                        <h4>William Harry</h4>
                                        <div class="designation">Designer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--News Style One-->
                <div class="news-style-one">
                	<div class="inner-box">
                    	<div class="row clearfix">
                        	<div class="image-column col-md-5 col-sm-6 col-xs-12">
                            	<figure class="image-box"><img src="/static/images/resource/blog-image-1.jpg" alt=""><a class="overlay-link" href="blog-single.html"><span class="icon flaticon-plus-1"></span></a></figure>
                            </div>
                            <div class="content-column col-md-7 col-sm-6 col-xs-12">
                            	<div class="content">
                                	<h3><a href="blog-single.html">Our First Design For Interior</a></h3>
                                    <ul class="post-meta clearfix">
                                    	<li><a href="#"><span class="icon fa fa-clock-o"></span> Oct 03, 2015</a></li>
                                        <li><a href="#"><span class="icon fa fa-tags"></span> Furniture</a></li>
                                    </ul>
                                    <div class="text">How all this mistakens idea off denouncings pleasure and praising pain was born and get will give you a complete account.</div>
                                    <div class="author-info">
                                    	<figure class="author-thumb"><img src="/static/images/resource/author-thumb-1.jpg" alt=""></figure>
                                        <h4>Mark Nicholes</h4>
                                        <div class="designation">Team Leader</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--News Style One-->
                <div class="news-style-one">
                	<div class="inner-box">
                    	<div class="row clearfix">
                        	<div class="image-column col-md-5 col-sm-6 col-xs-12">
                            	<figure class="image-box"><img src="/static/images/resource/blog-image-2.jpg" alt=""><a class="overlay-link" href="blog-single.html"><span class="icon flaticon-plus-1"></span></a></figure>
                            </div>
                            <div class="content-column col-md-7 col-sm-6 col-xs-12">
                            	<div class="content">
                                	<h3><a href="blog-single.html">Using High Quality Paints</a></h3>
                                    <ul class="post-meta clearfix">
                                    	<li><a href="#"><span class="icon fa fa-clock-o"></span> Aug 21, 2015</a></li>
                                        <li><a href="#"><span class="icon fa fa-tags"></span> Painting</a></li>
                                    </ul>
                                    <div class="text">Pleasure and praising pain was born and will give you a complete account of the systems, and expound the actual teaching.</div>
                                    <div class="author-info">
                                    	<figure class="author-thumb"><img src="/static/images/resource/author-thumb-2.jpg" alt=""></figure>
                                        <h4>William Harry</h4>
                                        <div class="designation">Designer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
{% endblock %}