{% extends 'furnitureapp/base.html' %}
{% block page %}
    Project Single 02
{% endblock %}
{% block middle %}Project Single 02{% endblock %}
{% block body %}
<!--Project Details Section-->
    <section class="project-details">
    	<div class="auto-container">

            <!--Project Images-->
            <div class="project-images" >
            	<ul class="single-item-carousel">
                    {% for img in pics %}
                	<li><figure class="image-box"><a href="/static/media/{{ img.singimg.name }}" class="lightbox-image" title="Image Caption Here"><img src="/static/media/{{ img.singimg.name }}" alt="" style="width: 1170px;height: 500px"></a></figure></li>
                    {% endfor %}

                </ul>
            </div>

            <!--Project Content-->
            <div class="project-content">
                {% if articles %}
            	<h2>{{ articles.title }}</h2>
            	<div class="row clearfix">
                	<!--Content Column-->
                    <div class="content-column col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    	<div class="text">{{ articles.descirbe }}</div>
                        <div class="social-links">
                        	<a href="#"><span class="fa fa-facebook-f"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                            <a href="#"><span class="fa fa-dribbble"></span></a>
                            <a href="#"><span class="fa fa-google-plus"></span></a>
                            <a href="#"><span class="fa fa-skype"></span></a>
                        </div>
                    </div>

                    <!--Info Column-->
                    <div class="info-column col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    	<ul class="proj-info">
                        	<li><strong>Category :</strong> {{ articles.tag }}</li>
                            <li><strong>Client :</strong>  {{ articles.author }}</li>
                            <li><strong>Date :</strong>  {{ articles.pub_date|date:'d m,Y' }}</li>
                            <li><strong>Link :</strong>  {{ articles.tagweb }}</li>
                            <li class="rating"><strong>Rating :</strong>  <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-half-empty"></span> </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Post Nav -->
            <div class="post-nav clearfix">
            	<a href="#" class="prev-post pull-left"><span class="fa fa-angle-left"></span> &ensp;&ensp;Previous Post</a>
                <a href="#" class="next-post pull-right">Next Post &ensp;&ensp;<span class="fa fa-angle-right"></span></a>
                <a href="{% url 'furnitureapp:portfoli' %}" class="all-post"><span class="fa fa-th-list"></span></a>
            </div>

        </div>
    </section>
{% endblock %}